.invalid{
    border: 3px solid #ff3254;
    background-color: #cd1b2970;
    opacity: 0.33;
    color: #0005ff;
}

.inv-feedback{
    color: rgb(204, 35, 35);
}

.val-feedback{
    color: rgb(14, 130, 18);
}

.valid{
    border: 3px solid #2c6f0f;
    background-color: #17ac6470;
    opacity: 0.33;
    color: black;
}