.scroll
{
    height: 50vmin;   
    overflow-y : scroll;
}

.lv-border
{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
}

.margin{
    margin-right: 1rem;
}

.inp{
    width: 100%;
    font-size: 20px;    
}

.m-bottom{
    margin-bottom: 1rem;
}

.lv-element:hover{
    border: 3px solid black;
    background-color: rgb(109, 145, 173);
    opacity: 0.9;
}

.lv-element-select{
    border: 2px solid black;
    background-color: rgb(191, 191, 191);
}